body {
  background-color: #fefefe;
  color: #454545;
  width: 575px;
  margin: 0 auto;
  font: 18px/24px Helvetica, Ubuntu, Aria, sans-serif;
}

ul {
  margin: 3em 0 0 0;
  padding: 0 0 0 0.2em;
}

#pictures li {
  list-style: none;
  display: inline-block;
  margin: 2em 2em 0 0;
}

li a {
  display: block;
  position: relative;
}

li.active > a:after, .li.active > a:before {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-top: -50px;
}

li.active > a:after {
  border-color: rgba(244, 245, 246, 0);
  border-bottom-color: #f4f5f6;
  border-width: 30px;
  left: 50%;
  margin-left: -30px;
}

li.active > a:before {
  border-color: rgba(69, 69, 69, 0);
  border-bottom-color: #454545;
  border-width: 33px;
  left: 50%;
  margin-left: -33px;
}
li a img {
  border-radius: 3px;
}

li:last-child {
  margin-right: 0;
}

footer {
  padding: 1em;
}

footer ul {
  margin-top: 0;
}
